extends layout

append head

	script(src="/javascripts/genre-selector.js" type="module" defer)
	link(rel="stylesheet" href="/stylesheets/genre-selector.css")
	link(rel="stylesheet" href="/stylesheets/edit-story.css")
block content
	.spacer
	.container
		.title--container
			h1 Edit your story


		.form--container
			if locals.authenticated && sessionUser.id
				form(action=`/stories/${story.id}/edited-story` method='post')
					input(type='hidden' name='_csrf' value=csrfToken)
					if errors
						div(class='alert alert-danger' role='alert')
							h2 The following error(s) occurred:
							ul
								each error in errors
									li= error
					else
						.columns
							.leftColumn

								.form--element
									label(for="title")
										p Story Title
									input(type='text' name='title' value= `${story.title}` required)

								.form--element
									label(for="summary")
										p Story Summary
									input(type='text' name='summary' value= `${story.summary}` required)


								.form--element
									label(for="imageUrl")
										p Image Url
									input(type='text' name='imageUrl' value= `${story.imageUrl}` required)

								.form--element
									label(for="categoryId")
										p Category of Story Type
									select(name='categoryId' required)
											each category in categories
												if category.id === story.categoryId
													option(value=category.id selected="selected")= story.Pixel_Category.name
												else
													option(value=category.id)= category.name
								.form--element
									label(for="categoryId")
										p Select Genre
									.form--genre
										include genre-selector.pug

							.rightColumn
								.form--element
									label(for="body")
										p Tell us your story
									textarea(name='body' required)= `${story.body}`


									input(type='hidden' name='authorId' value=locals.user.id)
									input(type='hidden' name='viewCount' value=0)
									input(type="hidden" name="genre" id="genre" value="Null")

								.form--element
									button(type='submit' value='Create Story') Submit Story
			else
				p
				| Please!{' '}
				a(href="/users/login" class="nav--link") Log In
				|!{' '}or!{' '}
				a(href="/users/register" class="nav--link") Register
				|!{' '}to edit a story!
