extends layout
append head
	link(rel="stylesheet" href="/stylesheets/comment-edit.css")
block content
	.spacer
	.container
		.form--container
			form(action=`/stories/${comment.pixelStoryId}/comments/${comment.id}/edit` method='post')
				input(type='hidden' name='_csrf' value=csrfToken)
				.form--element--container
					h1= `Edit Comment`
					if errors
						div(class='alert alert-danger' role='alert')
							h2 The following error(s) occurred:
							ul
							each error in errors
								li= error
					textarea(id='body' name='body' class='form-control' rows='5') #{comment.body}
					.form--element
						button(type='submit' class='btn') Submit Changes
