extends layout

append head

	script(src="/javascripts/genre-selector.js" type="module" defer)
	link(rel="stylesheet" href="/stylesheets/genre-selector.css")
	link(rel="stylesheet" href="/stylesheets/story-new.css")
block content
	.spacer
	.container
		.title--container
			h1= title


		.form--container
			if locals.authenticated
				form(action='/submit/new' method='post')
					input(type='hidden' name='_csrf' value=csrfToken)
					if errors
						div(class='alert alert-danger' role='alert')
							h2 The following error(s) occurred:
							ul
								each error in errors
									li= error
					else
						.columns
							.leftColumn

								.form--element
									label(for="title")
										p Story Title
									input(type='text' name='title')

								.form--element
									label(for="summary")
										p Story Summary
									input(type='text' name='summary')

								.form--element
									label(for="imageUrl")
										p Image Url
									input(type='text' name='imageUrl')

								.form--element
									label(for="categoryId")
										p Category of Story Type
									select(name='categoryId' required)
											each category in categories
												option(value=category.id)= category.name
									input(type='hidden' name='authorId' value=locals.user.id)
									input(type='hidden' name='viewCount' value=0)
									input(type="hidden" name="genre" id="genre" value="Null")

								.form--element
									label(for="categoryId")
										p Select Genre
									.form--genre
										include genre-selector.pug

							.rightColumn
								.form--element
									label(for="body")
										p Tell us your story
									textarea(name='body')

								.form--element
									button(type='submit' value='Create Story') Submit Story
			else
				p
				| Please!{' '}
				a(href="/users/login" class="nav--link") Log In
				|!{' '}or!{' '}
				a(href="/users/register" class="nav--link") Register
				|!{' '}to submit a story!
