extends layout

append head
    link(rel="stylesheet" href="/stylesheets/user.css")
block content
    .spacer
    .container
        h1= title
        .body--container
            .user--element
                table(class='table')
                    tr
                        th Username:
                        td=`${user.username}`
                    tr
                        th Joined on:
                        td=`${user.createdAt}`
                    tr
                        th About:
                        td=`${user.about}`
                    tr
                        th Stories Posted:
                        td
                            each Pixel_Story in user.Pixel_Stories
                                div
                                a(href=`/stories/${Pixel_Story.id}` class="nav--link")= `${Pixel_Story.title}`
            if locals.authenticated && user.id === sessionUser.id
                .user--element
                table(class='table')
                    tr
                        th Users who follow you:
                        td
                            each follower in user.followers
                                div
                                a(href=`/users/${follower.id}` class="nav--link")= `${follower.username}`
                    tr
                        th Users you follow:
                        td
                            each following in user.followings
                                div
                                a(href=`/users/${following.id}` class="nav--link")= `${following.username}`
                .button--container
                    a(href=`/users/${user.id}/edit`)
                        button(class='btn' name='action' value='edit' type='submit') Edit User Info
                .button--container
                    a(href=`/users/${user.id}/delete`)
                        button(class='btn' name='action' value='delete' type='submit') Delete your account
            else if locals.authenticated && user.id !== sessionUser.id && !following
                .user--element
                    form(action=`/users/${user.id}/follow` method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            .form--element
                                button(class='btn' name='action' value= 'subscribe' type='submit') Follow this user!
            else if locals.authenticated && user.id !== sessionUser.id && following
                .user--element
                    form(action=`/users/${user.id}/follow` method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            .form--element
                                button(class='btn' name='action' value= 'subscribe' type='submit') Unfollow this user!
